black==19.10b0
dateparser==0.7.1
ipdb==0.12
psycopg2-binary==2.8.2
python-dateutil==2.8.0
python-decouple==3.1
python-magic==0.4.15
requests==2.22.0
scrapy==1.8.0
SQLAlchemy==1.3.4
scrapy-deltafetch==1.2.1
boto3==1.14.16
itemadapter==0.1.0
