{
  "type": "service_account",
  "project_id": "test-test",
  "private_key_id": "a-secret-key-id",
  "private_key": "a-secret-key",
  "client_email": "file-storage@test-test.iam.gserviceaccount.com",
  "client_id": "1212121212121212",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://accounts.google.com/o/oauth2/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/file-storage%40test-test.iam.gserviceaccount.com"
}

