awscli
black
boto3
chompjs
dateparser
fake-useragent
flake8
isort
itemadapter
jinja2
pip-tools
pre-commit
psycopg2-binary
python-dateutil
python-decouple
requests
scrapy
schematics
SQLAlchemy
spidermon
wheel
