from datetime import date

from gazette.spiders.base.dosp import BaseDospSpider


class {{ class_name }}Spider(BaseDospSpider):
    TERRITORY_ID = "{{ territory_id }}"
    name = "{{ spider_name }}"
    start_urls = ["{{ url }}"]
    start_date = date({{ date_from }})