name: Deploy to Scrapy Cloud

on:
  push:
    branches: [main]

jobs:
  deploy_to_scrapy_cloud:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: 3.10
    - name: Install shub
      run: |
        python -m pip install --upgrade pip
        pip install shub
    - name: Deploy to Scrapy Cloud
      env:
        SHUB_APIKEY: ${{ secrets.SHUB_APIKEY }}
      run: |
        cd data_collection/
        shub deploy
