name: Deploy

on:
  push:
    branches: [main]
    paths: 
      - 'data_collection/gazette/spiders/'

jobs:
  deploy_to_scrapinghub:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
    - name: Install shub
      run: |
        python -m pip install --upgrade pip
        pip install shub
    - name: Deploy to ScrapingHub
      env:
        SHUB_APIKEY: ${{ secrets.SHUB_APIKEY }}
      run: |
        cd data_collection/
        shub deploy
